@charset "UTF-8";/*<!--punctuation-->*/
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@font-face{
	font-family: 'FonteLogo';
	src: url("../_fonts/Montserrat-Light.otf");
}

body{
	background-color: #ddd;
	color: rgba(0,0,0,1);
	font-family: Verdana;
	font-size: 1em;
}

div#interface{
	width: 1100px;
	background-color: #fff;
	margin: -20px auto 0px auto; /*Centralizando a interface*/
	/*box-shadow parametros deslocamento lateral- delocamento 
	vertical - espalhamento da sombra -cor*/
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 15px;
	border-radius: 5px;
}

p{
	text-align: justify;
	text-indent: 40px;
}

a{
	color: #606060;
	text-decoration: none;
}

/*a:hover{
	text-decoration: underline;
}*/

header#cabecalho img#icone{
	position: absolute;
	left: 960px;
	top: 20px;
}

header#cabecalho{
	border-radius: 5px;
	height: 175px;
	width: 100%;
	background-color: #000;
	margin-top: -5px;
}

header#cabecalho img#logo{
	margin-top: -5px;
	width: 250px;
}

header#cabecalho h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 1em;
	color: #09F;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-top: -50px;
	margin-left: 35px;
}



/*formatação de imagnes com legendas*/
figure.foto-legenda{
	position: relative;/*Por ser conteiner*/
	border: 8px solid #fff;
	box-shadow: 1px 1px 4px #000; /*Criando sombra*/
}

/*Redimeciona img conforme a janela*/
figure.foto-legenda img{
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,0.4);
	color: #32CD32;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	/*Criando transição*/
	transition: opacity 1.2s; /*1s = um segundo*/
}

figure.foto-legenda p{
	color: #09F;
	text-indent: 20px;
}

figure.foto-legenda:hover figcaption{
	opacity: 1;	
}

/*Formatação do menu*/
/* posição relative o objeto fica preso no container; 
posição absolute o objeto fica solto pelo site*/

nav#menu{
	display: block;
	font-family: Verdana;

}

nav#menu ul{
	list-style: none; /*Tirar marcardor da lista*/
	position: absolute;
	top: 0px;
	left: 350px;
}

nav#menu li{
	border: 2px solid #000;
	display: inline-block; /*Blocos em apenas uma linha*/
	background-color: #000;
	padding: 10px;
	margin: 2px;
	border-radius: 5px;
}

nav#menu li:hover{
	border: 2px solid #09F;
}

nav#menu h1{
	display: none;
}

nav#menu a{
	color: #32CD32;
	text-decoration: none;
	transition: color 1s;
}

nav#menu a#s{
	color: #09F;
}

nav#menu li:hover a{
	color: #09F;	
}

section#corpo{
	display: block; /*Mostrar como um bloco*/	
	width: 710px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}

article#noticia-principal h2{
	font-size: 1.1em;
	color: #09F;
	background-color: #000;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
	border-radius: 5px;
}

header#cabecalho-artigo h1{
	font-family: "FonteLogo", sans-serif;
	font-size: 2em;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;

}

header#cabecalho-artigo h2{
	font-size: 1em;
	color: #000;	
	background-color: #fff;

}

header#cabecalho-artigo h3{
	font-size: 12px;
	color: #606060;
}
.d{
	text-align: right;
}
table#tabelaspec{
	border: 2px solid #09F;
	border-spacing: 0px; /*Espaço entre as celulas*/
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	box-shadow: 1px 1px 4px black;
}

table#tabelaspec td{
	border: 1px solid #09F;	
	padding: 10px;
	vertical-align: middle;
}

table#tabelaspec td.ce{
	color: #FFF;
	background-color: #09F;
	vertical-align: top;
	font-weight: bold;
	text-align: right;
}

table#tabelaspec td.cd{
	background-color: #fff;
	text-align: left;

}

table#tabelaspec caption{
	color:#888;
	font-size: 13pt;
	font-weight: bolder;
}

table#tabelaspec caption span{
	display: block;
	float: right;
	font: black;
	font-size: 8pt;
	margin-top: 10px;

}

aside#lateral{
	display: block; 
	width: 350px;
	float: right;
	background-color: #ddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}


aside#lateral h1{
	font-family: 'FonteLogo',sans-serif;
	font-size: 20pt;
	color: #606060;
	margin top: 0px;
}	

aside#lateral h2{
	background-color: #606060;
	font-size: 13pt;
	color: #fff;	
	padding: 5px;
}

footer#rodape{
	clear: both;/*coloca o rodapé no lugar certo*/
	border-top: 1px solid #606060;
}

footer#rodape p{
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
}

footer#rodape p:first-child{
	font-weight: bold;
}

footer#rodape a{
	text-decoration: none;
	color: black;
	color : #888;
	padding: 10px;
	font-style: italic;
	transition: background-color 1s;
	transition: color 1s;
	border-radius: 5px;
}

footer#rodape a:hover{
	color: #09F;
	background: #000;
}

video#video1{
	position: relative;
	margin-left: 100px;
	padding: 10px;
	box-shadow: 1px 1px 4px #000;
	margin-bottom: 10px;
}

video#video2{
	position: relative;
	width: 348px;
}

