@charset "UTF-8";

section#conteudo{
	width: 1000px;	
	margin: auto;
}

iframe#frame-spec{
	width: 450px;
	height: 370px;	
	border: none;/*Sem bordas*/
	overflow: hidden;/*Não deixa fazer rolagem*/
	margin: 10px;	
}
/*Tirando barras lateral e vertical
iframe#frame-spec::-webkit-scrollbar {
	display: none; 
}
*/